<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArduinoDriver" version="2.3.0" targetFramework="net461" />
  <package id="ArduinoUploader" version="2.3.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.0" targetFramework="net461" />
  <package id="IntelHexFormatReader" version="2.2.1" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.5" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.5" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.4.1" targetFramework="net461" />
  <package id="NLog" version="4.3.0" targetFramework="net461" />
  <package id="SerialPortStream" version="2.0.3" targetFramework="net461" />
  <package id="SQLite.CodeFirst" version="1.3.0.17" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.104.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.104.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.104.0" targetFramework="net461" />
</packages>